@import "tailwindcss";
@theme {
  /* Text Variables */
  --text-main-title: calc(2.8125rem * 1); /* 45px */
  --text-sub-title: calc(1.25rem * 1); /* 20px */
  --text-description: calc(1.125rem * 1); /* 18px */
  /* Colors Variables */
  --color-primary-text-color: #1cb280;
  --color-alternate-text-color: #839992;
  --color-active-color: #f64148;
}

[data-hide-mobile] {
  display:none
}
@media screen and (min-width:1024px) {
  [data-hide-mobile] {
    display:block
  }
}
@layer base {
  body,
  html {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    position: relative;
    height: 100%;
    &:has(:not(.sticky)) {
      overflow-x:hidden
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize;
  }

  :root {
    font-size: 16px;
  }

  @media (max-width: 499px) {
    :root {
      font-size: 13px;
    }
  }
  
}
.container {
    @apply lg:max-w-[950px] xl:max-w-[1150px] 2xl:max-w-[1480px]  px-4
  }
  .main-input {
    @apply w-full px-6 py-4 border border-primary-text-color/30 placeholder:text-primary-text-color/30 rounded-[25px] text-alternate-text-color  focus:outline-none  focus:ring-2 focus:ring-primary-text-color/20 transition-all duration-300
  }
@utility container {
  margin-inline: auto;
}
@utility container-fluid {
  margin-inline: auto;
}
@layer components {
  .main-title-ui {
    @apply text-main-title w-fit font-bold text-primary-text-color relative mb-5;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      inset-inline-start: 0;
      width: 50%;
      height: 5px;
      background-color: var(--color-primary-text-color);
      border-radius: 10px;
      transition: left 0.3s, right 0.3s;
    }
  }

  /* [dir="rtl"] .main-title-ui::before {
    left: auto;
    right: 0;
  } */
   
  .phone-input .iti {
    @apply w-full;
      .iti__selected-flag {
        @apply bg-[#849992]! text-white flex-row-reverse  gap-2 rounded-l-[25px] overflow-hidden ;
        .iti__arrow {
          display: none
        }
      }
      .iti__country-list {
        @apply left-0 w-72 md:w-[670px] lg:w-[835px] xl:w-[360px] 2xl:w-[497px]
      }
  }
  .main-description-ui {
    @apply text-description text-alternate-text-color text-justify;
  }

  .custom-overlay {
    @apply absolute inset-0 bg-primary-text-color/70;
    z-index: 1;
  }
  .mySwiper {
  @apply w-full
}
  .nav-link-underline {
    @apply relative inline-block;
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: var(--color-active-color);
      transition: width 0.3s ease-in-out;
    }
    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }

  .nav-link-underline-offcanvas {
    @apply relative inline-block;
    transition: background-color 0.3s ease-in-out;
    border-radius: 30px;

    &:hover {
      color: #fff !important;
      background-color: var(--color-primary-text-color);
    }
    &.active-link {
      color: #fff !important;
      background-color: var(--color-primary-text-color);
    }
  }
}
