@font-face {
  font-family: "Alexandria";
  src: url("/fonts/alexandria/Alexandria-Regular.woff2") format("woff2"),
    url("/fonts/alexandria/Alexandria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
